<div class="side_menu">
    <button><img src="assets/icons/ilogo_ipad_black.png" id="logo-side" alt="Logo"></button>
    <button><img src="assets/icons/view.svg"><span>View</span></button> 
    <button><img src="assets/icons/Graph.svg"><span>Graphs</span></button>
    <button><img src="assets/icons/upload.svg"><span>Upload</span></button>
    <button class="active"><img src="assets/icons/ssettings.svg"><span>Settings</span></button>
</div>

<div class="content-table">
    <img class="back_icon" (click)="GoToUserProfile()" src="assets/icons/back_arrow_2.svg">
    <table>
        <thead>
            <tr>
                <th>Data Type</th>
                <th>Purchased From</th>
                <th>Price</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>JSON</td>
                <td>Popescu1</td>
                <td>1000 Tokens</td>
                <td>13.03.2023</td>
            </tr>
            <tr>
                <td>CSV</td>
                <td>Popescu1</td>
                <td>10.000 Tokens</td>
                <td>10.02.2023</td>
            </tr>
            <tr>
                <td>XML</td>
                <td>Popescu1</td>
                <td>100 Tokens</td>
                <td>01.01.2023</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <img src="assets/icons/back_arrow.svg">
    <img src="assets/icons/front_arrow.svg">

</div>