<div class="side_menu">
    <button><img src="assets/icons/ilogo_ipad_black.png" id="logo-side" alt="Logo"></button>
    <button><img src="assets/icons/view.svg"><span>View</span></button> 
    <button><img src="assets/icons/Graph.svg"><span>Graphs</span></button>
    <button><img src="assets/icons/upload.svg"><span>Upload</span></button>
    <button class="active"><img src="assets/icons/ssettings.svg"><span>Settings</span></button>
</div>

<div class="content-profile">
    <img id="usr_img" src="assets/icons/username.svg">
    <h2>User:</h2>
    <span>test</span>

    <h2>E-mail:</h2>
    <span>test@unitbv.ro</span>
    <a href="javascript:void(0)">Click here to change your E-mail</a>

    <h2>Password:</h2>
    <span>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span>
    <a href="javascript:void(0)">Click here to change your password</a>

    <h2>Transactions history:</h2>
    <table>
        <thead>
            <tr>
                <th>Data Type</th>
                <th>Purchased From</th>
                <th>Price</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>JSON</td>
                <td>Popescu1</td>
                <td>1000 Tokens</td>
                <td>13.03.2023</td>
            </tr>
            <tr>
                <td>CSV</td>
                <td>Popescu1</td>
                <td>10.000 Tokens</td>
                <td>10.02.2023</td>
            </tr>
            <tr>
                <td>XML</td>
                <td>Popescu1</td>
                <td>100 Tokens</td>
                <td>01.01.2023</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

    <a href="javascript:void(0)" class="delete_account">Delete account</a>
</div>